{% extends "base.html" %} {% block body %}
<form method="POST" id = 'fff'>
  {% csrf_token %}
  <div class="form-group">
    <div id=lll>
    <label for="useremail">電子郵件</label>
    </div>
    <input style="width: 50%" type="email" class="form-control" id="useremail" name="useremail" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
      <div id=lll>
    <label for="userpassword">密碼</label></div>
    <input style="width: 50%" type="password" class="form-control" name="userpassword" id="userpassword" placeholder="Password">
    <a href='{% url 'member:forget' %}'>忘記密碼？</a>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rememberme" value="yes">
    <label class="form-check-label" for="exampleCheck1"></label>記住我
  </div>
  <button type="submit" class="btn btn-primary mt-2"><i class="fa fa-sign-in" aria-hidden="true"></i>登入</button>
</form>
{% endblock %}